<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <clear />
  <add name="ActiveDatabase" connectionString="Local" />
  <add name="DominoGameDBEntities"
       providerName="System.Data.EntityClient"
       connectionString="metadata=res://*/Server.Data.EntityFramework.DominoGameModel.csdl|res://*/Server.Data.EntityFramework.DominoGameModel.ssdl|res://*/Server.Data.EntityFramework.DominoGameModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=DominoGameDB;user id=domino_rw_user;password=CONFIGURA_PASSWORD_LOCAL;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
  <add name="Teammate"
       providerName="System.Data.EntityClient"
       connectionString="metadata=res://*/Server.Data.EntityFramework.DominoGameModel.csdl|res://*/Server.Data.EntityFramework.DominoGameModel.ssdl|res://*/Server.Data.EntityFramework.DominoGameModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVIDOR\INSTANCIA;initial catalog=DominoGameDB;user id=domino_rw_user;password=CONFIGURA_PASSWORD_LOCAL;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
</connectionStrings>
